/* .add-button{
    color: white;
    background-color: #ee8733;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 2rem;
} */

.cart-btn {
    width: 170px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #ce8135;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    margin: 2rem auto;
  }

  .cart-btn .icon-container {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }

  .cart-btn  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }

  .cart-btn:hover .icon-container {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  .cart-btn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }

  .cart-btn:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }